<div>
	<h1>Album List :</h1>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="album in main.allAlbums">
			<h2>{{album.album_name}}</h2>
			<p>By {{album.artist}} - In {{album.year}} - Genre :
				{{album.genre}} - {{album.number_of_tracks}} track(s)</p>
				<hr>
			 <a ui-sref='detail({albumId: album.id})'><button type="button" class="btn btn-info"> Détails</button></a>
			<button type="button" class="btn btn-danger pull-right" ng-click="main.delete(album.id)">Supprimer</button>
		</li>
	</ul>
</div>
